* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 78%;
    margin: 0 auto;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #d2d2d2;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav__list {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    list-style: none;
    margin: 0 23px;
    font-size: 0;
}

.nav__link {
    padding: 20px 0;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.nav__item:nth-child(1) {
    padding: 20px 40px;
    background: #3f3f3f;
    border-radius: 0 0 5px 5px;
}

.active {
    color: #fff;
}

.subnav__list {
    display: block;
    position: absolute;
    background: #3f3f3f;
    left: 38%;
    top: 7%;
    border-radius: 5px;
    padding: 0 30px;
    visibility: hidden;
}

.subnav__item {
    width: 140px;
    padding: 3%;
    border-bottom: 1px solid #fff;
}

.subnav__item:last-child {
    border-bottom: none;
}

.subnav__link {
    font-size: 13px;
    line-height: 18px;
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    display: block;
}

.nav__item:hover .subnav__list {
    display: block;
    visibility: visible;
}

.header__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 155px 0 118px 0;
}

.header__item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background: #df6267;
    border-radius: 50%;
}

.header__item-title h1 {
    padding: 55px 0 0 0;
    font-size: 43px;
    text-transform: uppercase;
}

.main {
    border-bottom: 2px solid #d2d2d2;
    padding-top: 144px;
    padding-bottom: 104px;
}

.main h2 {
    font-size: 25px;
    letter-spacing: .4px;
    padding-bottom: 35px;
}

.main p {
    font-size: 17.4px;
    line-height: 35px;
    color: #8b8989;
}

.primary {
    padding-bottom: 55px;
    border-bottom: 2px solid #d2d2d2;
}

.primary__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 14px 66px 17px;
}

.primary__info-title h3 {
    font-family: 'Times New Roman', Times, serif;   
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

.primary__info-description p {
    font-size: 17.8px;
    color: #000;
}
.gallery {
    padding-bottom: 64px;
}

.gallery a img{
    padding-right: 18px;
    padding-bottom: 66px;
}

.button {
    padding: 24px 95px;
    background-color: #df6267;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.primary h2 {
    font-size: 25px;
    letter-spacing: .4px;
    padding: 42px 0 15px 0;
}

.primary span {
    font-size: 17.4px;
    line-height: 70px;
    color: #8b8989;
}

.primary p {
    font-size: 17.4px;
    line-height: 35px;
    color: #8b8989;
}